# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Google Books
GOOGLE_BOOKS_API_KEY=

# MercadoPago
MERCADOPAGO_ACCESS_TOKEN=

# Backend
PORT=3001
FRONTEND_URL=http://localhost:3000
